body{
  background-image: url("~src/assets/tracks.jpeg");
}
body h1{
   color:white;
   padding-left:2%;
   padding-top:2%;
   padding-bottom:1%;
   font-size:48px;
   font-style:Calibri;
}
body p{
    color:white;
    padding-left:2%;
    padding-bottom:0.5%;
    font-size:28px;
    font-style:Calibri; 
}