<body>
    <h1>Bicycle Tracks</h1>
    <p>We update bicycle tracks every month so you can recommend</p><p>your customers and give them higher value than competitors</p>
    <div *ngFor="let track of Tracks$| async">
        {{track.name}}
    </div>
</body>
