<body>
    <mat-card>
        <h1>Ready for your next cycling trip?</h1>
        <form #renting="ngForm" (ngSubmit)="changeSubmit()">
            <div class="example-container">
                <p class="step">Step 1: Choose rental dates</p>

                <div class="first_row">
                    <div class="labels">
                        <label>Rent start date:</label>
                        <label>Rent end date:</label>
                        <label>Total days:</label>
                    </div>

                    <div class="dates">

                        <mat-form-field>
                            <input matInput type="date" [(ngModel)]="startDate" name="startDate" required #spy
                                #temp="ngModel" (change)="validateStartDate()">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="date" [(ngModel)]="endDate" name="endDate" required #spy
                                #temp2="ngModel" (change)="validateStartDate()">
                        </mat-form-field>

                        <span id="total_days" ng-app="daysApp" ng-controller="daysCntl">
                            <p>{{totalDays}}</p>
                        </span>

                    </div>

                    <p class="dateError" ng-app="daysApp" ng-controller="daysCntl">{{dateError}}</p>
                    <mat-checkbox checked="true">I want to get weather updates at the rent dates</mat-checkbox>
                </div>

                <p class="step">Step 2: Choose a bike type and quantity of each type</p>
                <div class="second_div">
                    <span class="icons">
                        <button (click)="upBycicleChildren()">
                            <i class="material-icons">expand_less</i>
                        </button>
                        <button (click)="downBycicleChildren()">
                            <i class="material-icons">expand_more</i>
                        </button>
                    </span>

                    <!-- <span ng-app="byChApp" class="abc" ng-controller="byChCtrl"> -->
                        <p class="second_block var">{{children_bicycles}} </p>
                        <p class="second_block desc">Children's bicycles (6$ per a day)</p>
                    <!-- </span> -->
                </div>
                <div class="second_div">
                    <span class="icons">
                        <button (click)="upRoad_bicycles()">
                            <i class="material-icons">expand_less</i>
                        </button>
                        <button (click)="downRoad_bicycles()">
                            <i class="material-icons">expand_more</i>
                        </button>
                    </span>
                    <!-- <span ng-app="byChApp" ng-controller="byChCtrl"> -->
                        <p class="second_block var">{{Road_bicycles}} </p>
                        <p class="second_block desc">Road bicycles (7$ per a day)</p>
                    <!-- </span> -->
                </div>
                <div class="second_div">
                    <span class="icons ">
                        <button (click)="upMountain_bicycles()">
                            <i class="material-icons md-48">expand_less</i>
                        </button>
                        <button (click)="downMountain_bicycles()">
                            <i class="material-icons md-36">expand_more</i>
                        </button>
                    </span>
                    <!-- <span ng-app="byChApp" ng-controller="byChCtrl"> -->
                        <p class="second_block var">{{Mountain_bicycles}} </p>
                        <p class="second_block desc">Mountain bicycles (14$ per a day)</p>
                    <!-- </span> -->
                </div>
                <div class="second_div">
                    <span class="icons ">
                        <button (click)="upElectric_bicycles()">
                            <i class="material-icons md-48">expand_less</i>
                        </button>
                        <button (click)="downElectric_bicycles()">
                            <i class="material-icons md-36">expand_more</i>
                        </button>
                    </span>
                    <!-- <span ng-app="byChApp" ng-controller="byChCtrl"> -->
                        <p class="second_block var">{{Electric_bicycles}} </p>
                        <p class="second_block desc">Electric bicycles (25$ per a day)</p>
                    <!-- </span> -->
                </div>

                <p class="step">Step 3: Choose bicycle equipment (free)</p>

                <div class="third_div">

                    <div class="card firstcard">
                        <p class="third_header">Helmet</p>
                        <div class="card_items">
                            <img src="assets/helmet.jpg" />
                            <span ng-app="byChApp" ng-controller="byChCtrl">
                                <p class="third_var">{{Helmet}} </p>
                            </span>
                            <span class="icons">
                                <button (click)="upHelmet()">
                                    <i class="material-icons md-48">expand_less</i>
                                </button>
                                <button (click)="downHelmet()">
                                    <i class="material-icons md-36">expand_more</i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="card">
                        <p class="third_header">Glasses</p>
                        <div class="card_items">
                            <img src="assets/Glasses.jpg" />
                            <span ng-app="byChApp" ng-controller="byChCtrl">
                                <p class="third_var">{{Glasses}} </p>
                            </span>
                            <span class="icons">
                                <button (click)="upGlasses()">
                                    <i class="material-icons md-48">expand_less</i>
                                </button>
                                <button (click)="downGlasses()">
                                    <i class="material-icons md-36">expand_more</i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="card">
                        <p class="third_header">Protectors</p>
                        <div class="card_items">
                            <img src="assets/‏‏Protectors.jpg" />
                            <span ng-app="byChApp" ng-controller="byChCtrl">
                                <p class="third_var">{{Protectors}} </p>
                            </span>
                            <span class="icons">
                                <button (click)="upProtectors()">
                                    <i class="material-icons md-48">expand_less</i>
                                </button>
                                <button (click)="downProtectors()">
                                    <i class="material-icons md-36">expand_more</i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div id="total_amount">
                    <p class="step" ng-app="byChApp" ng-controller="byChCtrl">Total price: {{total_amount}}$</p>
                </div>
                <div>
                    <button mat-raised-button color="primary" class="confirm" 
                        [disabled]="!renting.form.valid||!validDates">Set my trip</button>
                </div>
            </div>
        </form>
    </mat-card>
</body>