<mat-sidenav-container class="sidenav-container">
  <!--mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"-->
    <!--mat-toolbar>Menu</mat-toolbar-->
    <!--mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list-->
  <!--/mat-sidenav-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!--button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button-->
      <span class = "title" routerLink="/Home">Wheel Trip </span>


      <a  class = "whitelink" routerLink="/prediction"
      *ngIf = "(authService.user | async)?.uid">Rent Prediction</a>
      <a class = "whitelink" routerLink="/tracks"
      *ngIf = "(authService.user | async)?.uid">Bicycle Tracks</a>
      <a class = "whitelink" routerLink="/weather"
      *ngIf = "(authService.user | async)?.uid">weather</a>
      <a class = "whitelink" routerLink="/suppliers"
      *ngIf = "(authService.user | async)?.uid">Suppliers</a>
      <a class = "whitelink" routerLink="/History"
      *ngIf = "(authService.user | async)?.uid">Prediction History</a>


      <span class="spacer"></span>
      <a class = "whitelink" class = "whitelink" 
         routerLink="/signup"
         *ngIf = "!(authService.user | async)?.uid" >SignUp</a>
      <a class = "whitelink" 
         routerLink="/login"
         *ngIf = "!(authService.user | async)?.uid">Login</a>
      <a class = "whitelink" 
         *ngIf = "(authService.user | async)?.uid" 
        (click) = "authService.Logout()">Logout</a>
        <i class="material-icons">help_outline</i>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
