<body>
    <div class="headerBG">
        <h1>Weather Forcast</h1>
    </div>
    <div class="weatherBody">
        <!-- <div class="searchBox">
            <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
                <button class="searchIcon" (click)="onSubmit()">
                    <i class="material-icons md-48">search</i>
                </button>
                <input matInput [(ngModel)]="city" name="city" placeholder="Enter a city" />
            </form>
        </div> -->
        <div class="searchBox">
            <button class="searchIcon">
                <i class="material-icons md-48">search</i>
            </button>
        <mat-form-field >
            <mat-select placeholder="City" [(ngModel)]="city" name="city" (selectionChange)="onSubmit(city)">
                <mat-option *ngFor="let city of cities" [value]="city.name" >{{city.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
        <div class="dayDiv" *ngFor="let temp of tempData$; let i=index">
            <span class="day" *ngIf="i <= 4">
                <p class="date"> {{temp.dt_txt| date:"dd/MM"}}</p>
                <p class="dayName">{{temp.dt_txt| date:'E'}}</p>
                <p class="temperature">{{temp.main.temp |number:'1.0-0'}}º</p>
                <img *ngIf="!hasError" [src]="imagefinder(temp.weather[0].icon)" alt="weather icon">
                <div class="data">
                    <p>Max: <span>{{temp.main.temp_max |number:'1.0-0'}}º </span></p>
                    <p>Min: <span>{{temp.main.temp_min |number:'1.0-0'}}º </span> </p>
                    <p>Wind: <span>{{temp.wind.speed |number:'1.0-0'}} km/h</span></p>
                </div>
                <p class="description">{{temp.weather[0].description}}</p>
            </span>
        </div>
    </div>
</body>