body{
    background-image: url("~src/assets/weather.jpg");
    height: 91.5%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:16px;  
  
}
.headerBG{
    background-color: #8D8D8D;
    height:50px;
    margin-bottom: 15px;
}
.weatherBody{
    padding-left: 140px;
}
h1{
    display:block;
    font-size: 32px;
    font-weight: bold;
    margin-left: 140px;
    color:#ffffff;
    padding-top: 8px;
    
  
}
.dayDiv{
    display:inline-block;
    margin-right:5%; 
}
.day{
    display:inline-block;
    width:190px;
    height:485px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px;
    padding:5px;
    margin-top: 30px;
}
.searchBox{
   
    display:block;
    width:356px;
    height:60px;
    background-color: white;
 
   margin-right: auto;
  
   padding:0;
   
}
.searchIcon{
    display:inline-block;
    width:36px;
    height:59px;
    background-color: white;
   
  
    border: white;
    top:5px;

    border-color: black;
}

input{
    /* position: relative; */
    width:318px;
    height:50px;
    border:0; 
    background-color: white;
    /* margin-top:10px !important; */
    font-size: 16px;
    /* top:10% !important; */
}
mat-form-field{
    /* position: relative; */
    width:318px;
    height:50px;
    border:0; 
    background-color: white;
    /* margin-top:10px !important; */
    font-size: 16px;
    /* top:10% !important; */
}
.date{
    font-size: 22px;
    margin-left: 7px;
}


.dayName{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-top:10%;
}
.temperature{
    font-size:43px;
   font-weight: bold;
    text-align: right;
    margin-top:15%;
    margin-right:10%
}
img{
    width:100px;
    height:100px;
    margin-left: 10%;
}
.data{
    margin-left: 10%;
}
 .data p{
     font-weight: bold;
     font-size: 21px;
 }
 .data p span{
    font-weight: normal;
}
.description{
    font-size: 22px;
    text-align: center;
    margin-top:40%;
}